{% extends "AppViajes/inicio.html" %}

{% load static %}

{% block avatar %}
<img src="{{ avatar }}" alt="Avatar" style="width:50px ; height:50px;">
{% endblock %} 

{% block titulo %} ACERCA DE MI {% endblock %}

{% block contenido_dinamico %}
<h3>INFORMACION PERSONAL:</h3>
<h5>Hola como estan?? Me presento, mi nombre es Santiago Moreyra, tengo 19 años y actualmente estoy en el segundo año de la carrera Ingenieria Informatica en FIUBA. Por otro lado, este es mi primer curso de Coderhouse, aunque tengo pensado hacer muchos más. Espero que disfruten de mi blog.  </h5>
<center><img src = "{% static 'FOTOACERCADEMI.jpg' %}" style="width: 350px;height: 450px;"></center>
{% endblock %}
