{% extends "AppViajes/inicio.html" %}

{% load static %}

{% block titulo %} FORMULARIO CONSEJOS {% endblock %}

{% block contenido_dinamico %}
<h3> CONSEJOS </h3>
<form method = "POST"> {% csrf_token %}
{% if user.is_superuser %}
    <h3>Estas Seguro(a) que deseas borrar el consejo de {{ consejo.Destino }}???</h3>
    <input type="submit" value="SI">
    {% else %}
    <h4>NO TIENES ACCESO A ESTOS DATOS</h4> 
    <a href="{% url 'consejos_list' %}">VOLVER</a>
    {% endif %}  
</form>
{% endblock %}