{% extends "AppViajes/inicio.html" %}

{% load static %}

{% block titulo %} DESTINOS QUE VISITE {% endblock %}

{% block contenido_dinamico %}
<h3> DESTINOS </h3>
<form action = "{% url 'destinos' %}" method = "POST"> {% csrf_token %}
    <table>
    {{ formulario.as_table }}
    </table>


    <input type="submit" value="GUARDAR DESTINO">

</form>

<table>
    <thead>
        <tr>

            <th>Destino</th>
            <th>Atraccion principal</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>


        {% for destino in destinos %}
        <tr>


            <td>
                {{ destino.Destino}}
            </td>
            <td>
                {{ destino.Atraccion_principal}}
            </td>
            <td>
                <a class="btn btn-success" href="{% url 'editarDestino' destino.id %}">EDITAR</a>
                <a class="btn btn-danger" href="{% url 'eliminarDestino' destino.id %}">ELIMINAR</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h3>{{ mensaje }}</h3>
{% endblock %}