{% extends 'AppViajes/inicio.html' %}

{% block contenido_dinamico %}

<br>
<br>

<div class="container">

    <h4>EDITAR DESTINO</h4>
    
</div>

<div class="container">
    <div class="form-group">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
    {% if user.is_superuser %}
    <table>
    {{ form.as_p }}
    </table>
    <input type="submit" value="GUARDAR DESTINO">
    {% else %}
    <h4>NO TIENES ACCESO A ESTOS DATOS</h4> 
    <a href="{% url 'destinos_list' %}">VOLVER</a>
    {% endif %}
    </div> 
</form>
{% endblock %}