{% extends 'AppViajes/inicio.html' %}

{% block contenido_dinamico %}

<br>
<br>
<br>
<br>
<br>

<div class="container text-center">
    <h1>Iniciar Sesión</h1>
</div>

<div class="container text-center">
    
        <div class="container">
            <div class="text-center">
                <form action = "{% url 'Login' %}" id="login-form" style=" width: 50vw; margin-left : 15vw;" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                   
                    {% if form.errors %}
                        <p class="label label-danger">
                            Tu usuario y contraseña no coinciden 
                            Intenta nuevamente.
                        </p>
                    {% endif %}
    
                    <input type="submit" value="Login" 
                           class="btn btn-primary pull-right" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
            </div>
        </div>
    <br>
    <p>Aun no tienes cuenta? <a href="{% url 'registro' %}">Regístrate</a></p>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}