{% extends "AppViajes/inicio.html" %}

{% load static %}

{% block titulo %} PAGINAS WEB {% endblock %}

{% block contenido_dinamico %}
<h3> PAGINAS WEB </h3>
<ul>

    {% for pagina in pagina %}
    <li>

        {{ pagina.Pagina }}
        <a class="btn btn-info" href="{% url 'paginas_detalles' pagina.id %}">MOSTRAR</a>
        <a class="btn btn-danger" href="{% url 'paginas_borrar' pagina.id %}">ELIMINAR</a>




    </li>


    {% endfor %}
    <br>
    <br>
    <a class="btn btn-success" href="{% url 'paginas_crear' %}">CREAR PAGINA</a>



</ul>
{% endblock %}